@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 800;
    font-style: normal;
}

::-webkit-scrollbar {
    overflow-y: scroll;
    width: 10px;
  }
  
::-webkit-scrollbar-track {
    --webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #626a6c, #1a283d);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    line-height: 1.6;
    background-color: #dce7ea;
    color: #333;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    max-width: 760px;
    max-height: calc(100vh / 0.75);
    margin: 0 auto;
    padding: 16px;
    transform: scale(0.8);
    transform-origin: top center;
    position: relative;
}

@media (max-width: 768px) {
    .container {
        max-width: 760px;
        margin: 0 auto;
        padding: 16px;
        transform: none;
    }

    .square {
        height: 64px;
    }

    ul {
        list-style-type: none;
    }

    ol {
        list-style-type: none;
    }
}

a {
    color: #41337ea4;
    text-decoration: none;
}

h1, h2, h4 {
    color: #000;
}

h5 {
    color: #41337ea4;
    text-decoration: #41337ea4 wavy underline;
}

h6 {
    color: #82898ca4;
}

p {
    color: #555;
}

.tag {
    display: inline-block;
    background-color: #747677;
    color: rgb(228, 239, 255);
    max-height: 32px;
    padding: 0.25rem 0.5rem;
    margin: 0.2rem;
    border-radius: 0.25rem;
    font-size: 0.8725rem;
}

img {
    border-radius: 50%;
}

.square {
    height: 128px;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.gap {
    gap: 1rem;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.address {
    font-size: 1.2rem;
}

.work-place {
    margin: 8px 24px;
}

.experience, .education {
    border-bottom: 2px solid #878787;
    padding: 8px 0px;
}

.stack {
    margin-bottom: 16px;
}

.note {
    background-color: #c7d5d8;
    border-left: 4px solid #b1c6cc;
    padding: 8px;
    margin: 8px auto;
    width: 100%;
    max-width: 95vw;
    text-align: left;
}

.code-note {
    color: #c7d5d8;
    background-color: #162123;
    border-left: 4px solid #444547;
    padding: 8px;
    margin: 8px auto;
    width: 100%;
    max-width: 95vw;
    text-align: left;
}

.lesson-title {
    border-bottom: 2px solid #878787;
    padding: 4px;
}

.marker {
    color: #fc0011;
    background-color: #b1c6cc;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 4px;
    right: 4px;
    background-color: #f9f9fd;
    padding: 4px 4px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.nav-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #41337ea4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0 2px;
}

.nav-button svg {
    width: 20px;
    height: 20px;
}

.main {
    padding-bottom: 24px;
}
